---
---
@import "normalise";
@import "typography";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "highlighting";
@import "utilities";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

.btn {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.body {
  background: #ea4965;
}

.main {
  max-width: 700px;
  margin: 0 auto;
}

.landing-header {
  position: relative;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: .3rem;
  border: 4px solid;
  padding: 1rem;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #00000017;
    display: block;
    position: absolute;
    left: -20px;
    bottom: -20px;
  }
}

.landing-header__text {
  z-index: 5;
  position: relative;
}

.landing-icon {
  display: block;
  margin: 2rem auto;
}

.landing-arrow {
  display: none;
  transition: all .3s ease;
  height: 70px;
  width: 70px;
  animation: updown 2s ease-in-out;
  animation-iteration-count: infinite;
  svg {transform: rotate(-35deg);}
  position: absolute;
  top: -55px;
  right: 55px;
}

@keyframes updown{
  0%   { transform: translate(0px) }
  50%   { transform: translate(-10px, -10px) }
  100% { transform: translateY(0px) }
}

.footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}
